.idea/
.vscode/
/node_modules
**/node_modules
.DS_Store
*.log
.husky
yarn.lock

# Build Script
/scripts
*.config.js

# Packages ignore
/packages/*/dist
/packages/*/build
/packages/*/types
/packages/*/dll

packages/*/types
