body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.app .left,
.app .right {
  width: 50%;
  height: 100%;
}

.app .left.preview {
  display: flex;
  justify-content: flex-end;
}

.app .left.preview > .container {
  padding: 8px;
  margin-right: 16px;
  border: 1px dashed #1970ff;
  width: 320px;
  height: 100%;
  overflow: auto;
}

.app .right > .form-header {
  width: 400px;
  padding: 16px 24px;
  margin-bottom: 8px;
  text-align: center;
  background-color: #1970ff;
  color: #fff;
  font-size: 20px;
}
